{% extends "blog/base.html" %}
{% load static %}

{% block style %}
  <link href= "{% static "css/blog.css" %}" rel="stylesheet"/>
  <link href= "{% static "css/fullpage.css" %}" rel="stylesheet"/>
{% endblock %}

{% block content %}

  <div id = "fullpage">


    <div class = "section" id = "section0">

      <div class="topnav">
        <a class="active" href="#home">home</a>
        <a href="{% url "blog:post_list" %}">blog</a>
        <a href="#contact">contact</a>
        <a href="#about">about</a>
      </div>

      <div class = "hometxt">
        <h1>HongChien Yu</h1>
        <h2>Programming · Art · Philosophy</h2>
      </div>



    </div>

    <div class = "section" id = "section1">
      <p>Hi, I'm HongChien!</p>
      <p id = "intro">I am a junior student at Carnegie Mellon University studying computer science. </p>
    </div>

  </div>


  <script type="text/javascript" src ="{% static "js/fullpage.js" %}"></script>
  <script type="text/javascript">
    var myFullpage = new fullpage('#fullpage', {
        verticalCentered: false
    });
  </script>


{% endblock %}
